#error{
  padding: 2px;
  margin-top: 10px;
  border-bottom: 3px solid #d1b6c8a0;
  width: 70%;
  font-size: larger;
}

h3{
  border-bottom: 3px double #d1b6c8a0;
}

button{  
  height: 2rem;
  border-radius: 5px;
}


table {
    width: 70%; 
    border-collapse: collapse; 
    margin: 20px 0; 
    background-color: #d1b6c842;     
  }
  
  
  th, td {
    padding: 10px; 
    text-align: center; 
    border: 2px solid black; 
  }
  
  
  th {
    background-color: #f2acd5; 
    color: black; 
    font-weight: bold; 
  }

  fieldset{
    width: 40%;
    border-radius: 5px;
  }

  fieldset>input{
    width: 60%;
  }

